#
#
#       ___                               ___           ___           ___
#      /\  \                             /\  \         /\  \         /\__\
#      \:\  \         ___               /::\  \       /::\  \       /:/ _/_
#       \:\  \       /\__\             /:/\:\__\     /:/\:\  \     /:/ /\  \
#   ___  \:\  \     /:/  /            /:/ /:/  /    /:/ /::\  \   /:/ /::\  \
#  /\  \  \:\__\   /:/__/            /:/_/:/__/___ /:/_/:/\:\__\ /:/_/:/\:\__\
#  \:\  \ /:/  /  /::\  \            \:\/:::::/  / \:\/:/  \/__/ \:\/:/ /:/  /
#   \:\  /:/  /  /:/\:\  \            \::/~~/~~~~   \::/__/       \::/ /:/  /
#    \:\/:/  /   \/__\:\  \            \:\~~\        \:\  \        \/_/:/  /
#     \::/  /         \:\__\            \:\__\        \:\__\         /:/  /
#      \/__/           \/__/             \/__/         \/__/         \/__/
#
#
#      ___           _            _   __   ___       __        __  _
#     / _ \___ ___ _(_)__  ___   | | / /  / _ \___  / /  ___  / /_(_)______
#    / , _/ -_) _ `/ / _ \/ _ \  | |/ /  / , _/ _ \/ _ \/ _ \/ __/ / __(_-<
#   /_/|_|\__/\_, /_/\___/_//_/  |___/  /_/|_|\___/_.__/\___/\__/_/\__/___/
#            /___/
#
#

# IDE bloat
.idea/

# -- Module drivers/core -------------------------------------------------------

drivers/core/__pycache__
.idea/


# -- Test Results --------------------------------------------------------------

*/result_*.png


# -- Test Images --------------------------------------------------------------

vision/tests_*


# -- OSX -----------------------------------------------------------------------

# General
.DS_Store


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes


# -- Sublime Text --------------------------------------------------------------

# Cache files for Sublime Text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# Workspace files are user-specific
*.sublime-workspace

# Project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using Sublime Text
*.sublime-project


# -- Emacs ---------------------------------------------------------------------

# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile

# directory configuration
.dir-locals.el


# -- Vim -----------------------------------------------------------------------

# Swap
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# Session
Session.vim

# Temporary
.netrwhist
*~
# Auto-generated tag files
tags
# Persistent undo
[._]*.un~


# -- Rust ----------------------------------------------------------------------

# Generated by Cargo
# will have compiled files and executables
/vision/target/

# These are backup files generated by rustfmt
**/*.rs.bk

# -- C/C++ ---------------------------------------------------------------------

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# -- Python --------------------------------------------------------------------
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# -- Eagle ---------------------------------------------------------------------
# Backup files
*.s#?
*.b#?
*.l#?
*.b$?
*.s$?
*.l$?

# Autorouter files
*.pro
*.job

# CAM files
*.$$$
*.cmp
*.ly2
*.l15
*.sol
*.plc
*.stc
*.sts
*.crc
*.crs

*.dri
*.drl
*.gpi
*.pls
*.ger
*.xln

*.drd
*.drd.*

*.s#*
*.b#*

*.info

*.eps

# file locks introduced since 7.x
*.lck


#7777777777777777777777777777777777777777777777777777777777777777777777777777777
#7777777777777777777777777777777777777777777777777777777777777777777777777777777
#7777777777777777777777777777777777777777777777777777777777777777777777777777777
#7777777777777777777777777777777777777777777777777777777777777777777777777777777
#7777ZOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO88888888888888888888888888888888887777777
#7777OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO88888888888888888888888888888888887777777
#7777OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO88888888888888888888888888888888887777777
#7777OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO88888888888888888888888888888888887777777
#7777OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO88888888888888888888888888888888887777777
#7777OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO88888888888888888888888888888888887777777
#7777OOOOOOOOOOOI7OOOOZ$IZOOOOOOOOOOOOO88888888888888888888888888888888887777777
#77OOOOOOOOOOO$OI::::::~ZO7$OOOOOOOOOOO88888888888888DI::::,?Z88888888888$O$7777
#Z$OOOOOOOOOIO=:::::::::::7O7OOOOOOOOOO888888888888O:::::::::::+888888888$O$7777
#OZOOOOOOOOIZ:::::::::::::::O7OOOOOOOOO88888888888~::::::::::::::88888888$O$7777
#OZOOOOOOO7O::I888::::D8D+:::O7OOOOOOOO888888888D~:::+++++++++~:::8888888$O$7777
#OZOOOOOOO8~::7888::::D88I:::~O7OOOOOOO888888888=:::~OOOOOOOOO$:::~888888$O$7777
#OZOOOOOOII:::7888::::D88I::::87OOOOOOO888888888::::~OOOOOOOOO$::::I88888$O$7777
#OZOOOOOO7~:::7888::::D88I::::ZZOOOOOOO88888888O::::::::OOO?:::::::~88888$O$7777
#OZOOOOOO$::::7888::::D88I::::7ZOOOOOOO88888888$::::::::OOO?::::::::88888$O$OOOO
#OZOOOOOO$::::7888::::D88I::::7ZOOOOOOO88888888$::::::::8OO?::::::::88888$O$$$$$
#OZOOOOOOI+:::7888::::D88I::::O$OOOOOOO888888888::::::::OOO?:::::::=88888$O$7777
#OZOOOOOO$8:::788D::::D88I::::OIOOOOOOO888888888::::::::OOO?:::::::O88888$O$7777
#OZOOOOOO8$7::78888888888I:::77ZOOOOOOO8888888887:::::::OOO?::::::I888888$O$7777
#OZOOOOOOO$$~::?88888888=:::$OZOOOOOOOO8888888888Z::::::OOO?::::::8888888$O$7777
#OZOOOOOOOOO$$:::,,,,,,::::Z77OOOOOOOOO88888888888$:::::+++~::::788888888$O$7777
#77OOOOOOOOO$I8$:::::::::7OI8OOOOOOOOOO8888888888888?:::::::::+8888888888$O$7777
#77$7OOOOOOOZOO7$OOZ7ZOO$IOOOOOOOOOOZZODOOO888OO888888D8?+?$88888888888887Z77777
#7777OOOOOOO$OOOOO$777$OOOOOOOIOOZ??????????$88O$8888888888888888888888887777777
#7777OOOOOOO7OOOOOOOOOOOOOOOO8?I??????????????I?Z8888888888888888888888887777777
#7777OOOOOOOZOOOOOOOOOOOO?$OOOZI????IZO887?????Z8888II88888888888888888887777777
#7777OOOOOOOO7OOOOOOOOOO8?????7OOOOOOOO88888888OI????I88888888888888888887777777
#7777OOOOOOOOO$OOOOOOOOO8????????IZ8OOO88888$????????788888888888888888887777777
#7777OOOOOOOOOO$OOOOOOOOO????????????IZO7????????????$88888888888888888887777777
#77777$$$$$$$$$$$$777$$$$I????????????I?I????????????7$$$$$$$$$$$$$$$$$$77777777
#777777777777777OOOOOOOOO7????????I7OOO888Z7?????????O88888888887777777777777777
#77777777777777777777$$$$7????7$$$$$$$$ZZZZZZZZ$I????$ZZZ$7777777777777777777777
#7777777777777777777$OOOOZ$OOOOOOOOOOOO888888888888O7888887777777777777777777777
#7777777777777777777777777777777777777777777777777777777777777777777777777777777
#7777777777777777777777777777777777777777777777777777777777777777777777777777777
#7777777777777777777777777777777777777777777777777777777777777777777777777777777
#7777777777777777777777777777777777777777777777777777777777777777777777777777777

# Generated with http://patorjk.com/software/taag and
# http://www.glassgiant.com/ascii/
